.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.png);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.main-tilte {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width:1600px) {
    font-size: 44px;
    width: 696px;
  }

}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.hero__btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 24px;

  &:active {
    background-color: #188ce8;
    padding: 10px 32px;
  }
}
